*.o
*.so
*.svg
*.txt
boards
boards/*
boards/board.*
A3
./__pycache__/
graphData
graphData/*
python/__pycache__/
python/__pycache__/*
C/makefile.save
C/makefile.save.*
printer
test5
run
b1
b2
b3
b4
b5
board*
test*
o2 
out
sb
*.tmp
C/*.o
C/*.so
C/chezz_wrap.c
python/chezz.py